/* styles.css */

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 550px;
}

.product-card img {
    width: 100%;
    width: 300px; 
    height: 300px;
    object-fit: cover; 
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.search-container .form-inline {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
}

.search-container .form-group,
.search-container button {
    flex: 1;
    min-width: 120px;
}

.search-container input,
.search-container select,
.search-container button {
    width: 100%;
}
